
@mixin custom-text($size : 1rem, $weight : normal, $transform: none) {
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
}

@mixin profile-image($height : $profile-image-height){
    height: $height;
}

//@mixin filter
