$height-col : 400px;
$employee-list-width: 250px;
$emp-list-bottom-padding: 40px;
.tracker-map{
    border : 1px solid $gray-lighter;
    margin-bottom : 30px;

    .map-container{
        width: 100%;
        padding-right: $employee-list-width;
        margin-right : -$employee-list-width;
        float: left;
    }

    .emp-list-container{
        position: relative;
        float : right;
        width: $employee-list-width;
        margin-right: -1px; /* Thank you IE */
        border-left: 1px solid black;
        height: $height-col;
        padding-bottom: $emp-list-bottom-padding;
     }
    .list-content{
        height: calc(100% - #{$emp-list-bottom-padding});
        overflow-x: hidden;
        overflow-y: auto;

    }
    .list-footer{
        padding: 3.8px;
    }
}
