<div class="container">
  <nav class="profile-wrapper navbars navbar-light pull-right">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <ul class="nav navbar-nav">
        <li class="nav-item active text-xs-right user-name">
            <small class="label-sm">Amanda Johnson<br><a href="#" data-ng-click="vm.logout" title="logout" class="text-muted">Log out</a></small>
        </li>
        <li class="nav-item active">
          <img src="images/user-default.jpg" class="profile-image img-circle" title="user image"/>
        </li>
        <li class="nav-item active">
          <img src="images/user-default.jpg" class="profile-image img-circle"/>
        </li>
      </ul>
    </div>
  </nav>
  <div class="brand-logo">
    <img src="images/logo-mg.svg" aria-hidden="true" title="move guides brand logo"/>
  </div>
</div>
