<div class="tracker-map">
  <div class="map-container">
    <p>google map will come here</p>
  </div>
  <div class="emp-list-container">
      <div class="list-header text-xs-center">Employees in <br>LONDON</div>
       <div class="list-content">
         <h3 data-ng-repeat="a in vm.list">
           <span>Employee {{$index}}</span>
         </h3>
       </div>
      <div class="list-footer text-xs-center"><a href="#" class="label-sm">View all</a></div>
  </div>
  <div class="clearfix"></div>
</div>
